<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <h2>GET WEATHER STATUS FOR A CITY DIRECTLY TO YOUR PHONE USING THIS WEB-APP</h2>
        <form method="POST" action="/send">
            <div>
                PHONE NUMBER: <br>
                <input type="text" name="dst">
                <br>
                <br>
            </div>
            
            <input type = "submit" value="submit">
            <br>
        </form>
        <br>

        <br>
    </body>
</html>